<center>
  <p>Olá Administrador</p>
  <p>Uma nova captação foi recebida através do portal de captaçãoes. <br /> Veja abaixo:</p>
  <p>
    <table style="width: 60%; margin: 10%">
      <tr>
        <td align="left"><strong>Imóvel:</strong> <br /></td>
        <td align="right">{{{ type }}}</td>
      </tr>
      <tr>
        <td align="left"><strong>Finalidade:</strong> <br /></td>
        <td align="right">{{{ finality }}}</td>
      </tr>
      <tr>
        <td align="left"><strong>Cidade:</strong> <br /></td>
        <td align="right">{{{ city }}}</td>
      </tr>
      <tr>
        <td align="left"><strong>Bairro:</strong> <br /></td>
        <td align="right">{{{ neighborhood }}}</td>
      </tr>
      <tr>
        <td align="left"><strong>Nome:</strong> <br /></td>
        <td align="right">{{{ name }}}</td>
      </tr>
      <tr>
        <td align="left"><strong>E-mail:</strong> <br /></td>
        <td align="right">{{{ email }}}</td>
      </tr>
      <tr>
        <td align="left"><strong>Telefone:</strong> <br /></td>
        <td align="right">{{{ phone }}}</td>
      </tr>
    </table>
  </p>
</center>
